<?xml version="1.0"?>
<launch>
    <include file="$(find mini_quadrotor)/launch/bringup.launch">
        <arg name="simulation" value="True"/>
        <arg name="headless" value="False"/>
        <arg name="real_machine" value="False"/>
        <arg name="robot_id" value="1"/>
    </include>

    <include file="$(find mini_quadrotor)/launch/bringup.launch">
        <arg name="simulation" value="True"/>
        <arg name="headless" value="True"/>
        <arg name="real_machine" value="False"/>
        <arg name="robot_id" value="2"/>
        <arg name="launch_gazebo" value="False"/>
        <arg name="spawn_x" value="1.3" />
        <arg name="spawn_y" value="0" />
        <arg name="spawn_yaw" value="3.14159265"/>
    </include>
</launch>

<!-- since size of the quadrotors is like 30cm x 30cm x 15cm, the argument "spawn_x" should be (desired distance)+30cm (in [m]) -->